# Archivos de ayuda
HELP.md

# Carpetas de salida comunes
target/
build/

# Ignorar targets dentro de carpetas excepto en src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Wrapper de Maven (no borrar este jar)
!.mvn/wrapper/maven-wrapper.jar

#########################
# Spring Tool Suite (STS)
#########################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##################
# IntelliJ IDEA
##################
.idea/
*.iws
*.iml
*.ipr

##################
# NetBeans
##################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

##################
# Visual Studio Code
##################
.vscode
